.footer {
    background-color: #1e293b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 25px;
    // height: 80px;
    position: sticky;

    .footer-logo {
        width: 300px;

        @media screen and (max-width: 768px) {
            width: 250px;
        }

        @media screen and (max-width: 600px) {
            width: 200px;
        }

        @media screen and (max-width: 425px) {
            width: 170px;
        }

        img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            height: 48px;

            @media screen and (max-width: 768px) {
                margin: 10px;
                height: 40px;
            }

            @media screen and (max-width: 600px) {
                margin: 8px;
                height: 35px;
            }

            @media screen and (max-width: 425px) {
                margin: 6px;
                height: 30px;
            }
        }
    }

    

    .contact-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;

        @media screen and (max-width: 768px) {
            width: 250px;
        }

        @media screen and (max-width: 600px) {
            width: 200px;
        }

        @media screen and (max-width: 425px) {
            width: 170px;
        }

        a {

            img {
                width: 40px;
                padding:15px 8px;
                cursor: pointer;

                @media screen and (max-width: 768px) {
                    width: 35px;
                    padding:15px 8px;
                }

                @media screen and (max-width: 600px) {
                    width: 30px;
                    padding:13px 7px;
                }

                @media screen and (max-width: 600px) {
                    width: 25px;
                    padding:10px 7px;
                }
                
            }
        }
     
    }

    .footer-txt {
        width: 300px;
        
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            color: #ffffff;
            font-size: 18px;

            @media screen and (max-width: 768px) {
                font-size: 13px;
                margin-right: 0;
            }

            @media screen and (max-width: 600px) {
                font-size: 10px;
                margin-right: 0;
            }

            @media screen and (max-width: 425px) {
                font-size: 8px;
                margin-right: 0;
            }
        }
    }
}
