<h3>{{data.title}} </h3>
<div *ngIf="data.title=='Talent Request'">
    <mat-form-field class="treo-mat-dense treo-mat-no-subscript">
        <mat-label>Resume Relevance(%)*</mat-label>
        <select matNativeControl [(ngModel)]="data.relevanceRequest">
            <option value="undefined">Resume Relevance</option>
            <option *ngFor="let i of countList" [value]="i">{{i}}</option>
        </select>
    </mat-form-field><br><br>
    <mat-form-field class="treo-mat-dense treo-mat-no-subscript">
        <mat-label>Willingness(%)*</mat-label>
        <select matNativeControl [(ngModel)]="data.willingnessRequest">
            <option value="undefined">Willingness</option>
            <option *ngFor="let i of countList" [value]="i">{{i}}</option>
        </select>
    </mat-form-field><br><br>
    <mat-form-field class="treo-mat-dense treo-mat-no-subscript">
        <mat-label>Chances of Selection(%)*</mat-label>
        <select matNativeControl [(ngModel)]="data.posRequest">
            <option value="undefined">Chances of Selection</option>
            <option *ngFor="let i of countList" [value]="i">{{i}}</option>
        </select>
    </mat-form-field><br>

    <div style="margin-top: 20px;">
        <button class="add-task" (click)="requestTalent()" mat-flat-button [color]="'primary'">
            Submit
        </button>

        <!-- Add task button -->
        <button class="add-section" (click)="closeDialog()" mat-flat-button [color]="'primary'">
            Close
        </button>
    </div>
</div>

<div *ngIf="data.title=='Delete'">
    <h5>Do you want to delete this job</h5>
    <br>
    <div style="margin-top: 20px;">
        <button class="add-task" (click)="delete()" mat-flat-button [color]="'primary'">
            Yes
        </button>

        <!-- Add task button -->
        <button class="add-section" (click)="closeDialog()" mat-flat-button [color]="'primary'">
            No
        </button>
    </div>
</div>

<div *ngIf="data.title=='Retry'">
    <h5>Do you want to retry this talent request</h5> *It will retry again previous Bot request.
    <br>
    <div style="margin-top: 20px;">
        <button class="add-task" (click)="deleteAndRetry(data.id,'retry')" mat-flat-button [color]="'primary'">
            Yes
        </button>

        <!-- Add task button -->
        <button class="add-section" (click)="closeDialog()" mat-flat-button [color]="'primary'">
            No
        </button>
    </div>
</div>