@import 'treo';
app-cities {
    display: flex;
    flex: 1 1 auto;
    height: 50px;
    .main {
        background: white;
        padding: 0 !important;
        height: 100vmax !important;
        overflow: auto;
        .header {
            display: flex;
            flex: 0 1 auto;
            align-items: center;
            padding: 40px 32px;
            @include treo-breakpoint('xs') {
                flex-direction: column;
                align-items: flex-start;
            }
            .title {
                h1 {
                    margin: 0;
                    line-height: 1;
                }
            }
            .remaining-tasks-count {
                margin-left: 2px;
                font-weight: 500;
            }
            .main-actions {
                margin-left: auto;
                display: flex;
                @include treo-breakpoint('xs') {
                    margin-left: 0;
                    display: block;
                }
                .search {
                    flex: 1 1 auto;
                    margin-right: 16px;
                    min-width: 200px;
                    width: 100%;
                    @include treo-breakpoint('xs') {
                        min-width: 0;
                    }
                    .mat-form-field {
                        width: 100%;
                    }
                }
                .add-task {
                    margin-right: 16px;
                    padding: 0 10px;
                    @include treo-breakpoint('xs') {
                        margin-right: 12px;
                    }
                }
                .add-task,
                .add-section {
                    padding: 0 50px 0 50px;
                    @include treo-breakpoint('xs') {
                        margin-top: 24px;
                    }
                    .mat-icon {
                        margin-right: 8px;
                        @include treo-icon-size(20);
                    }
                }
                .add-section {
                    @include treo-breakpoint('xs') {
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);
    app-cities {
        @if (not $is-dark) {
            background: map-get($background, card);
        }
        .main {
            .header {
                .remaining-tasks-count {
                    color: map-get($foreground, secondary-text);
                }
            }
        }
    }
}